@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body
{
    margin:0px;
    padding:0px;
    font-family: "Open Sans", arial;
    color:#fff;
    font-weight:300;
}

.settings {
    height:45px;
    float:left;
    background-color: lawngreen;
    width:250px;
    margin:0px;
    text-align: left;
    font-size:20px;
    font-family: 'Strait', sans-serif;
}

/* ScrollBar  */
.scrollbar
{
    height: 90%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrollbar:hover
{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Scrollbar Style */

#style-1::-webkit-scrollbar-track
{
    border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
    width: 5px;
    background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #BFBFBF;
}
/* Scrollbar End */

.fa-lg {
    font-size: 1em;

}
.fa {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    top:12px;
    font-size:20px;

}

.main-menu:hover, nav.main-menu.expanded {
    width:250px;
    overflow:hidden;
    opacity:1;

}

.main-menu {
    background:#F7F7F7;
    position:absolute;
    z-index: 2;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:55px;
    overflow:hidden;
    -webkit-transition:width .2s linear;
    transition:width .2s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity:1;
}

.main-menu>ul {
    margin:7px 0;

}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    width:255px;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#8a8a8a;
    font-size: 13px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .14s linear;
    transition:all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top:1px solid #f2f2f2;

    text-shadow: 1px 1px 1px  #fff;
}

.main-menu .nav-icon {

    position:relative;
    display:table-cell;
    width:55px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;

}

.main-menu .nav-text  {

    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;

}

/* Logo Hover Property */

a:hover,a:focus {
    text-decoration:none;
    border-left:0px solid #F7F7F7;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    text-transform: uppercase;
}

/* Top navigation */
.topnav {
    background-color: #F7F7F7;
    height: 45px;
    float: top;
    overflow: hidden;
    text-align: right;
}

.topnav span{
    float: top;
    font-family: 'Titillium Web', sans-serif;
    color: #101010;
    font-size: 16px;
}

*.border-container {
    border: 1px solid #cacaca;
    width: fit-content;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
    margin: 0 auto;
}

*.st-border-container{
    height: 60px;
    width: 250px;
    border: 1px solid #cacaca;
    padding: 8px;
}

*.st-border-container>span {
    float: left;
    padding: 2px;
    font-size: 12px;
    color: #292b2c;
    font-family: 'Titillium Web', sans-serif;
}

*.st-border-container>label {
    float: top;
    width: 100px;
    padding: 2px;
    font-size: 16px;
    color: #292b2c;
    font-family: 'Titillium Web', sans-serif;
}

*.st-border-container>button {
    float: right;
    text-align: center;
    height: 24px;
    padding: 8px;
}

*.generic-container {
    padding: 2px;
    display: flex;
}

*.generic-container-c {
    padding: 2px;
}

.center-container {
    position: relative;
    z-index: 1;
    margin-left: 60px;
    width: auto;
    padding: 16px;
    height: auto;
    margin-top: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 0 auto;
    text-align: center;
}

*.titles {
    margin: 0 auto;
    position: center;
    color: #484848;
    font-family: 'Titillium Web', sans-serif;
}

*.subtitles {
    font-size: 14px;
    margin: 0 auto;
    position: center;
    color: #484848;
    font-family: 'Titillium Web', sans-serif;
}

*.normal-text {
    font-size: 12px;
    margin: 0 auto;
    position: center;
    color: #101010;
    font-family: 'Titillium Web', sans-serif;
}

*.error-text {
	font-size: 12px;
    margin: 0 auto;
    position: center;
    color: #ca0d11;
    font-family: 'Titillium Web', sans-serif;
}

*.form-style {
    margin: 0 auto;
    text-align: center;
    child-align: middle;
}

*.link-style {
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
}


*.search-button {
	background: transparent;
	border: 1px solid transparent;
	vertical-align: middle;
}

*.searchbar {
    margin: 8px;
    vertical-align: middle;
}

*.radio-style {
    float: left;
    font-size: small;
    color: #484848;
    font-family: 'Titillium Web', sans-serif;
}

*.butt {
    height: 10px;
    font-size: 10px;
}

/*MAP STYLE*/

*.border-container-map {
    border: 1px solid #cacaca;
    height: 200px;
    width: 50%;
    align-content: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin: 0 auto;
}

#mapid {
    height: 192px;
    width: 50%;
    margin-top: 8px;
}
