<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <title>CLup</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="bar_style.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    		crossorigin=""></script>
    <script src="map.js" charset="utf-8" defer></script>
    <script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var groceries = /*[[${groceries}]]*/ null;
	var grocery = /*[[${grocery}]]*/ null;
	/*]]>*/
	</script>
	<script defer>
	var latIn = document.getElementById("lat");
	var longIn = document.getElementById("lng");
	var lat2In = document.getElementById("lat2");
	var long2In = document.getElementById("lng2");
	
	function setPosition(position) {
		latIn = document.getElementById("lat");
		longIn = document.getElementById("lng");
		lat2In = document.getElementById("lat2");
		long2In = document.getElementById("lng2");
		fillPosition(position)
	}

	navigator.geolocation.getCurrentPosition(setPosition)
	
	function fillPosition(position) {
	  latIn.value = position.coords.latitude;
	  longIn.value = position.coords.longitude;
	  lat2In.value = position.coords.latitude;
	  long2In.value = position.coords.longitude;
	}
	</script>
</head>
<body>

<div class="topnav">
    <span th:text="${session.user.username}">Mockup</span><br>
    <span>ID:</span>
    <span th:text="${session.user.iduser}">123456879</span>
    <a href="Logout">Logout</a>
</div>

<nav class="main-menu">

    <div class="settings">
        <ul>
            <li>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </li>
        </ul>
    </div>

    <div class="scrollbar" id="style-1">

        <ul>
            <li>
                <a th:href="@{/GoToHomePage}">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>

            <li>
                <a th:href="@{/EditProfile}">
                    <i class="fa fa-wrench fa-lg"></i>
                    <span class="nav-text">Edit Profile</span>
                </a>
            </li>
        </ul>

    </div>
</nav>

<div class="center-container">
    <label class="titles">Search Store</label>
    <div class="generic-container-c"id="search_section">
    
        <form th:action="@{/GoToSearchPage}" style="text-align: center">
            <button type="submit" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            <input type="search" class="searchbar" name="latitude" id="lat" placeholder="latitude eg:37">
            <input type="search" class="searchbar" name="longitude" id="lng"  placeholder="longitude eg:10">
            <input type="search" class="searchbar" name="radius" placeholder="radius eg:1000" ><br>
            <span th:text="${message}">Error</span>
        </form>
        
        <div class="border-container-map" id="mapcontainer">
            <div class="generic-container" id="mapinfo" style="float: left; margin: 0 auto">
				<table style="margin-left: auto; margin-right: auto;">
					<tr th:if="${grocery} != null">
						<td>
							<span class="subtitles">Grocery Name</span><br>
						</td>
						<td>
							<span class="normal-text" th:text="${grocery.name}">name</span>
						</td>
					</tr>
					<tr th:if="${estimatedTime} != null">
						<td>
							<span class="subtitles">Estimated Time</span><br>
						</td>
						<td>
							<span class="normal-text" th:text="${estimatedTime}">date</span>
						</td>
					</tr>
					<tr th:if="${grocery} != null">
						<td>
							<span class="subtitles">Opening Hours</span><br>
						</td>
						<td>
							<span class="normal-text" th:text="${grocery.openingHour} + ' - ' + ${grocery.closingHour}">08 - 20</span>
						</td>
					</tr>
				</table>
            </div>
            <div id="mapid" style="float: right"></div>
        </div>
    </div>

    <div th:if="${grocery} != null" class="generic-container-c" id="line-up">
		<label class="titles">Line-Up</label>
        <form th:action="@{/MakeReservation}">
        	<label class="subtitles">Your Position: </label>
        	<input type="text" name="latitude" id="lat2" placeholder="latitude">
        	<input type="text" name="longitude" id="lng2" placeholder="longitude">
        	<input type="text" name="groceryId" th:value="${grocery.idgrocery}" hidden>
        	<select>
        		<option value="0">MEDIUM</option>
			</select>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="generic-container">
    <label class="titles">Active Reservations</label>
        <div class="border-container" th:each="reservation: ${activeReservations}">
			<span class="subtitles" th:text="${reservation.queue.grocery.name}">Grocery name</span><br>
			<span class="normal-text" th:text="${reservation.customer.telephoneNumber}">3213213213</span><br>
			<span class="normal-text" th:text="'You get in at: ' + ${reservation.estimatedTime}">You should get in at: 13:13:13</span>
        </div>
    </div>
</div>
</body>
</html>