<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>SE2-project-CirinoCocchia</display-name>
  	<welcome-file-list>
    	<welcome-file>login.html</welcome-file>
  	</welcome-file-list>
  	<filter>
  		<filter-name>Checker</filter-name> 
      	<filter-class>filters.LoggedIn</filter-class> 
 	</filter> 
	<filter>
  		<filter-name>ManagerChecker</filter-name> 
      	<filter-class>filters.ManagerFilter</filter-class> 
 	</filter> 
	<filter>
  		<filter-name>ManagerEmployeeChecker</filter-name> 
      	<filter-class>filters.ManagerEmployeeFilter</filter-class> 
 	</filter> 
  	<filter-mapping> 
    	<filter-name>Checker</filter-name>
		<url-pattern>/AddEmployee</url-pattern>
		<url-pattern>/AddGrocery</url-pattern>
    	<url-pattern>/DeleteReservation</url-pattern>
		<url-pattern>/EditGroceryInfo</url-pattern> 
    	<url-pattern>/EditProfile</url-pattern> 
    	<url-pattern>/EditReservation</url-pattern> 
    	<url-pattern>/GetGroceryData</url-pattern> 
    	<url-pattern>/GetReservationPage</url-pattern>
    	<url-pattern>/GoToEmployeePage</url-pattern> 
		<url-pattern>/GoToHomePage</url-pattern> 
    	<url-pattern>/GoToSearchPage</url-pattern> 
    	<url-pattern>/Logout</url-pattern> 
    	<url-pattern>/MakeReservation</url-pattern>
		<url-pattern>/RemoveEmployee</url-pattern> 
		<url-pattern>/RemoveGrocery</url-pattern> 
  	</filter-mapping>
	<filter-mapping> 
    	<filter-name>ManagerChecker</filter-name>
		<url-pattern>/AddEmployee</url-pattern>
		<url-pattern>/AddGrocery</url-pattern>
		<url-pattern>/EditGroceryInfo</url-pattern> 
    	<url-pattern>/GetGroceryData</url-pattern>
    	<url-pattern>/GoToEmployeePage</url-pattern>
		<url-pattern>/RemoveEmployee</url-pattern>
		<url-pattern>/RemoveGrocery</url-pattern>
  	</filter-mapping>
	<filter-mapping> 
    	<filter-name>ManagerEmployeeChecker</filter-name>
    	<url-pattern>/DeleteReservation</url-pattern>
    	<url-pattern>/EditReservation</url-pattern>
    	<url-pattern>/GetReservationPage</url-pattern>
		<url-pattern>/SetIntoTheStore</url-pattern>
		<url-pattern>/SetOutTheStore</url-pattern>
  	</filter-mapping>
</web-app>